[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-filetype-haskell"]
	path = bundle/vim-filetype-haskell
	url = git://github.com/kana/vim-filetype-haskell.git
[submodule "bundle/ghcmod"]
	path = bundle/ghcmod
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "bundle/lushtags"]
	path = bundle/lushtags
	url = git://github.com/bitc/lushtags.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/snipmate-erlang"]
	path = bundle/snipmate-erlang
	url = git://github.com/michalwski/vim-snipmate-erlang.git
[submodule "bundle/elixir-lang"]
	path = bundle/elixir-lang
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/elixir-snippets"]
	path = bundle/elixir-snippets
	url = git://github.com/carlosgaldino/elixir-snippets.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/auto_tag"]
	path = bundle/auto_tag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/vim-wrangler"]
	path = bundle/vim-wrangler
	url = https://github.com/ppikula/vim-wrangler.git
[submodule "bundle/vim-erlang-runtime"]
	path = bundle/vim-erlang-runtime
	url = git@github.com:vim-erlang/vim-erlang-runtime.git
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = git@github.com:vim-erlang/vim-erlang-compiler.git
[submodule "bundle/vim-erlang-omnicomplete"]
	path = bundle/vim-erlang-omnicomplete
	url = git@github.com:vim-erlang/vim-erlang-omnicomplete.git
[submodule "bundle/vim-erlang-tags"]
	path = bundle/vim-erlang-tags
	url = git@github.com:vim-erlang/vim-erlang-tags.git
